pymilvus==2.4.4
fastapi==0.104.1
uvicorn==0.24.0
sentence-transformers==2.2.2
huggingface_hub==0.15.1
chromadb==0.4.18
PyPDF2==3.0.1
requests==2.31.0
numpy==1.24.3
scikit-learn==1.3.2
pandas==2.1.4
nltk==3.8.1
faiss-cpu
pdfplumber==0.10.3
torch
setuptools
# If you are on macOS and see distutils errors, run: brew install python-setuptools 
marshmallow==3.20.1 